nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button{
    
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

li{
    list-style-type: none;
    text-decoration: none;
}
.link-parent{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
